.component-about {
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 30px;

}


.about {
    padding: 20px;
}

.section {
    padding: 20px;
}


#tutor, #library {
    margin-bottom: 20px;
}
  